<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>CC101F15-D539-42C2-9FF6-735F5A7AB2F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D75A02F9-C339-491B-B207-174C83AD6524</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC46BC11-0490-4CC0-96C4-ACC180265C00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D75A02F9-C339-491B-B207-174C83AD6524</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F8884E84-89AB-4CD9-8D45-BCC22C216E6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC46BC11-0490-4CC0-96C4-ACC180265C00</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy character HTML to clipboard.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D75A02F9-C339-491B-B207-174C83AD6524</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy character code to clipboard.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CC101F15-D539-42C2-9FF6-735F5A7AB2F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Blaine Schmeisser</string>
	<key>description</key>
	<string>Search ascii characters by name or number.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ASCII Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "&amp;#{query};"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC46BC11-0490-4CC0-96C4-ACC180265C00</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>cha</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>converting...</string>
				<key>script</key>
				<string>ruby symbols.rb "{query}"</string>
				<key>subtext</key>
				<string>Convert ascii number to character</string>
				<key>title</key>
				<string>ASCII</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F8884E84-89AB-4CD9-8D45-BCC22C216E6D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D75A02F9-C339-491B-B207-174C83AD6524</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby -e "print [{query}].pack('U')"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC101F15-D539-42C2-9FF6-735F5A7AB2F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>CC101F15-D539-42C2-9FF6-735F5A7AB2F3</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>D75A02F9-C339-491B-B207-174C83AD6524</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>DC46BC11-0490-4CC0-96C4-ACC180265C00</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>F8884E84-89AB-4CD9-8D45-BCC22C216E6D</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/blainesch/alfred-ascii-search</string>
</dict>
</plist>
